.character {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.character img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.speech-bubble {
    font-size: 0.3em; 
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
    display: inline-block;
    max-width: 500px;
    word-wrap: break-word;
    margin: 10px 0;
}


.researcher {
    flex-direction: row-reverse;
}

.reviewer {
    flex-direction: row;
}
