.character {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.character img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 10px;
}

.character.researcher, .character.writer {
    justify-content: flex-start; /* 왼쪽 정렬 */
    flex-direction: row; /* 이미지 왼쪽, 말풍선 오른쪽 */
}

.character.reviewer {
    justify-content: flex-end; /* 오른쪽 정렬 */
    flex-direction: row-reverse; /* 이미지 오른쪽, 말풍선 왼쪽 */
}

.speech-bubble {
    display: inline-block;
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 12px; /* 텍스트 크기 */
    line-height: 1.25; /* 줄 간격 */
    word-wrap: break-word;
    white-space: pre-wrap; /* 공백과 줄바꿈 유지 */
    text-align: left;
    margin: 0 10px;
}